.text-header {
  color: #5fd068 !important;
}

.btn-main {
  background-color: #5fd068;
  color: white !important;
  border: 1px solid #57ba5f;
  padding: 0.6rem 1rem;
}

.btn-main:hover {
  background-color: #57ba5f;
  border: 1px solid #5fd068;
}

.btn-outline-light:focus,
.btn-main:focus {
  outline: none;
  box-shadow: none;
}

.btn-outline-light,
.btn-secondary {
  padding: 0.6rem 1rem;
}

#header img {
  width: 20px;
}

#main .carousel-inner img {
  max-height: 70vh;
  object-fit: cover;
  filter: grayscale(70%);
}

#carousel {
  position: relative;
}

#carousel .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 2;
}

#carousel .overlay .container,
#carousel .overlay .row {
  height: 100%;
}

.card-img-top {
  height: 25vh;
}

#place-time {
  background-color: #343a40;
  color: white;
}

#place-time img {
  max-width: 100%;
}

#ignite abbr {
  color: #5fd068;
  text-decoration: none;
}

#footer {
  background: linear-gradient(90deg, #1c3643, #273b47 25%, #1c3643);
}

#footer a {
  color: white;
}

.form-control {
  padding: 1.6rem 1rem;
}

.custom-select {
  height: 3rem;
}
